## Initialize the Spark Session

In [ ]:
# Include any needed imports
from sqlalchemy import create_engine

import networkx as nx
import pandas as pd
import pymysql

In [ ]:
# Initialize the SparkSession
from pyspark.sql import SparkSession
spark = (SparkSession.builder.master("local")
                             .config("spark.jars", "/usr/share/java/mysql-connector-java-8.0.23.jar")
                             .getOrCreate())

In [ ]:
# Configure MySQL Connection
sqlEngine = create_engine('mysql+pymysql://root:p@ssw0rd1@cse6242_team094_mysqldb/cse6242_team094')
dbConnection = sqlEngine.connect()

## Load in the Output from 01-PySpark_Lemmatization.ipynb

The output of this notebook consists of 3 tables: 1) abstracts, 2) metadata, and 3) titles. Within the `/data_processing/aws_data` folder on the host machine, you should have placed the Parquet files retrieved from the AWS S3 Bucket, as outlined in the Readme instructions.

**Important:** This code assumes you already have the local MySQL Docker Container running according to the instructions mentioned in the Readme.

In [ ]:
# Load "titles" from Parquet
abstracts_df = spark.read.parquet("./aws_data/01-abstracts")

# Write to MySQL
(abstracts_df.write
               .format('jdbc')
               .options(url="jdbc:mysql://cse6242_team094_mysqldb/cse6242_team094?sessionVariables=sql_mode='NO_ENGINE_SUBSTITUTION'&jdbcCompliantTruncation=false",
                        driver='com.mysql.jdbc.Driver',
                        dbtable='processed_abstracts',
                        user='root',
                        password='p@ssw0rd1',
                        createTableColumnTypes='abstract VARCHAR(65536), cord_uid VARCHAR(1024), abstract_tokens VARCHAR(65536)')
               .mode('overwrite')
               .save())

In [ ]:
# Load "titles" from Parquet
titles_df = spark.read.parquet("./aws_data/01-titles")

# Write to MySQL
(titles_df.write
           .format('jdbc')
           .options(url='jdbc:mysql://cse6242_team094_mysqldb/cse6242_team094',
                    driver='com.mysql.jdbc.Driver',
                    dbtable='titles',
                    user='root',
                    password='p@ssw0rd1')
           .mode('overwrite')
           .save())

In [ ]:
# Load "titles" from Parquet
metadata_df = spark.read.parquet("./aws_data/01-metadata")

# Write to MySQL
(metadata_df.write
           .format('jdbc')
           .options(url='jdbc:mysql://cse6242_team094_mysqldb/cse6242_team094',
                    driver='com.mysql.jdbc.Driver',
                    dbtable='metadata',
                    user='root',
                    password='p@ssw0rd1')
           .mode('overwrite')
           .save())

## Load in the Output from 02a-BERTopic.ipynb

The output of this notebook consists of 4 tables. Within the `/data_processing/aws_data` folder on the host machine, you should have placed the CSV files retrieved from the AWS EC2 instance, as outlined in the Readme instructions.

**Important:** This code assumes you already have the local MySQL Docker Container running according to the instructions mentioned in the Readme.

In [ ]:
# Load the data from CSV
bert_string_doc_to_topic_pd_df = pd.read_csv("./aws_data/02a-bert-string-doc-to-topic/string_doc_to_topic.csv")
bert_string_doc_to_topic_spark_df = (spark.createDataFrame(bert_string_doc_to_topic_pd_df)
                                            .drop("Unnamed: 0"))

# Write to MySQL
(bert_string_doc_to_topic_spark_df.write
                                .format('jdbc')
                                .options(url="jdbc:mysql://cse6242_team094_mysqldb/cse6242_team094?sessionVariables=sql_mode='NO_ENGINE_SUBSTITUTION'&jdbcCompliantTruncation=false",
                                            driver='com.mysql.jdbc.Driver',
                                            dbtable='02a_bert_string_doc_to_topic',
                                            user='root',
                                            password='p@ssw0rd1')
                                .mode('overwrite')
                                .save())

In [ ]:
# Load the data from CSV
bert_doc_to_topic_pd_df = pd.read_csv("./aws_data/02a-bert-doc-to-topic/doc_topic_df.csv")
bert_doc_to_topic_spark_df = (spark.createDataFrame(bert_doc_to_topic_pd_df)
                                            .drop("Unnamed: 0"))

# Write to MySQL
(bert_doc_to_topic_spark_df.write
                                .format('jdbc')
                                .options(url="jdbc:mysql://cse6242_team094_mysqldb/cse6242_team094?sessionVariables=sql_mode='NO_ENGINE_SUBSTITUTION'&jdbcCompliantTruncation=false",
                                            driver='com.mysql.jdbc.Driver',
                                            dbtable='02a_bert_doc_topic',
                                            user='root',
                                            password='p@ssw0rd1')
                                .mode('overwrite')
                                .save())

In [ ]:
# Load the data from CSV
bert_extended_topic_pd_df = pd.read_csv("./aws_data/02a-bert-extended-topic/extended_topic_df.csv")
bert_extended_topic_spark_df = (spark.createDataFrame(bert_extended_topic_pd_df)
                                     .drop("Unnamed: 0"))

# Write to MySQL
(bert_extended_topic_spark_df.write
                           .format('jdbc')
                           .options(url="jdbc:mysql://cse6242_team094_mysqldb/cse6242_team094?sessionVariables=sql_mode='NO_ENGINE_SUBSTITUTION'&jdbcCompliantTruncation=false",
                                    driver='com.mysql.jdbc.Driver',
                                    dbtable='02a_bert_extended_topic',
                                    user='root',
                                    password='p@ssw0rd1')
                           .mode('overwrite')
                           .save())

In [ ]:
# Load the data from CSV
bert_string_topic_to_words_pd_df = pd.read_csv("./aws_data/02a-bert-string-topic-to-words/string_topic_to_words.csv")
bert_string_topic_to_words_spark_df = (spark.createDataFrame(bert_string_topic_to_words_pd_df)
                                            .drop("Unnamed: 0"))

# Write to MySQL
(bert_string_topic_to_words_spark_df.write
                                    .format('jdbc')
                                    .options(url="jdbc:mysql://cse6242_team094_mysqldb/cse6242_team094?sessionVariables=sql_mode='NO_ENGINE_SUBSTITUTION'&jdbcCompliantTruncation=false",
                                                driver='com.mysql.jdbc.Driver',
                                                dbtable='02a_bert_string_topic_to_words',
                                                user='root',
                                                password='p@ssw0rd1')
                                    .mode('overwrite')
                                    .save())

## Load in the Output from 02b-LDA.ipynb

The output of this notebook consists of 4 tables. Within the `/data_processing/aws_data` folder on the host machine, you should have placed the CSV files retrieved from the AWS EC2 instance, as outlined in the Readme instructions.

**Important:** This code assumes you already have the local MySQL Docker Container running according to the instructions mentioned in the Readme.

In [ ]:
# Load the data from CSV
lda_string_doc_to_topic_pd_df = pd.read_csv("./aws_data/02b-lda-string-doc-to-topic/string_lda_doc_to_topic.csv")
lda_string_doc_to_topic_spark_df = (spark.createDataFrame(lda_string_doc_to_topic_pd_df)
                                         .drop("Unnamed: 0"))

# Write to MySQL
(lda_string_doc_to_topic_spark_df.write
                                .format('jdbc')
                                .options(url="jdbc:mysql://cse6242_team094_mysqldb/cse6242_team094?sessionVariables=sql_mode='NO_ENGINE_SUBSTITUTION'&jdbcCompliantTruncation=false",
                                            driver='com.mysql.jdbc.Driver',
                                            dbtable='02b_lda_string_doc_to_topic',
                                            user='root',
                                            password='p@ssw0rd1')
                                .mode('overwrite')
                                .save())

In [ ]:
# Load the data from CSV
lda_doc_to_topic_pd_df = pd.read_csv("./aws_data/02b-lda-doc-to-topic/lda_doc_to_topic.csv")
lda_doc_to_topic_spark_df = (spark.createDataFrame(lda_doc_to_topic_pd_df)
                                  .drop("Unnamed: 0"))

# Write to MySQL
(lda_doc_to_topic_spark_df.write
                            .format('jdbc')
                            .options(url="jdbc:mysql://cse6242_team094_mysqldb/cse6242_team094?sessionVariables=sql_mode='NO_ENGINE_SUBSTITUTION'&jdbcCompliantTruncation=false",
                                        driver='com.mysql.jdbc.Driver',
                                        dbtable='02b_lda_doc_to_topic',
                                        user='root',
                                        password='p@ssw0rd1')
                            .mode('overwrite')
                            .save())

In [ ]:
# Load the data from CSV
lda_string_topic_to_words_pd_df = pd.read_csv("./aws_data/02b-lda-string-topic-to-words/lda_string_topic_to_words.csv")
lda_string_topic_to_words_spark_df = (spark.createDataFrame(lda_string_topic_to_words_pd_df)
                                         .drop("Unnamed: 0"))

# Write to MySQL
(lda_string_topic_to_words_spark_df.write
                                    .format('jdbc')
                                    .options(url="jdbc:mysql://cse6242_team094_mysqldb/cse6242_team094?sessionVariables=sql_mode='NO_ENGINE_SUBSTITUTION'&jdbcCompliantTruncation=false",
                                                driver='com.mysql.jdbc.Driver',
                                                dbtable='02b_lda_string_topic_to_words',
                                                user='root',
                                                password='p@ssw0rd1')
                                    .mode('overwrite')
                                    .save())

In [ ]:
# Load the data from CSV
lda_topic_to_words_pd_df = pd.read_csv("./aws_data/02b-lda-topic-to-words/lda_topic_to_words.csv")
lda_topic_to_words_spark_df = (spark.createDataFrame(lda_topic_to_words_pd_df)
                                  .drop("Unnamed: 0"))

# Write to MySQL
(lda_topic_to_words_spark_df.write
                            .format('jdbc')
                            .options(url="jdbc:mysql://cse6242_team094_mysqldb/cse6242_team094?sessionVariables=sql_mode='NO_ENGINE_SUBSTITUTION'&jdbcCompliantTruncation=false",
                                        driver='com.mysql.jdbc.Driver',
                                        dbtable='02b_lda_topic_to_words',
                                        user='root',
                                        password='p@ssw0rd1')
                            .mode('overwrite')
                            .save())

## Load in the Edge Lists from 03-TopicClustering.ipynb

The data loaded in here represents the two weighted graphs each for BERTopic and LDA. One graph will represent the topics identified, while the other represents the individual papers.

In [ ]:
# Load the edge list from CSV
bert_topic_graph = nx.read_edgelist("./aws_data/03-bert-topic-graph/topic_graph.csv", delimiter=",", data=True)

# Convert the Edge List to Pandas
bert_topic_graph_df = nx.to_pandas_edgelist(bert_topic_graph)

# Insert the data into MySQL
bert_topic_graph_df.to_sql("03_bert_topic_graph", con=dbConnection, if_exists='replace')

In [ ]:
# Load the edge list from CSV
bert_paper_graph = nx.read_edgelist("./aws_data/03-bert-paper-graph/paper_graph.csv", delimiter=",", data=True)

# Convert the Edge List to Pandas
bert_paper_graph_df = nx.to_pandas_edgelist(bert_paper_graph)

# Insert the data into MySQL
bert_paper_graph_df.to_sql("03_bert_paper_graph", con=dbConnection, if_exists='replace', chunksize=500)

In [ ]:
# Load the CSV
bert_topic_clust_df = pd.read_csv("./aws_data/03-bert-topic-clust-output/bert_topic_clust_output.csv", sep="|")

# Write it to MySQL
bert_topic_clust_df.to_sql("03_bert_topic_clust_output", con=dbConnection, if_exists='replace')

In [ ]:
# Load the CSV
lda_topic_clust_df = pd.read_csv("./aws_data/03-lda-topic-clust-output/lda_topic_clust_output.csv", sep="|")

# Write it to MySQL
lda_topic_clust_df.to_sql("03_lda_topic_clust_output", con=dbConnection, if_exists='replace')

In [ ]:
# Load the CSV
bert_topic_pagerank_df = pd.read_csv("./aws_data/03-bert-topic-pagerank/topic_pagerank.csv", sep="|")

# Write it to MySQL
bert_topic_pagerank_df.to_sql("03_bert_topic_pagerank", con=dbConnection, if_exists='replace')

In [ ]:
# Load the CSV
lda_topic_pagerank_df = pd.read_csv("./aws_data/03-lda-topic-pagerank/topic_pagerank.csv", sep="|")

# Write it to MySQL
lda_topic_pagerank_df.to_sql("03_lda_topic_pagerank", con=dbConnection, if_exists='replace')

In [ ]:
# Load the CSV
bert_paper_pagerank_df = pd.read_csv("./aws_data/03-bert-paper-pagerank/paper_pagerank.csv", sep="|")

# Write it to MySQL
bert_paper_pagerank_df.to_sql("03_bert_paper_pagerank", con=dbConnection, if_exists='replace')

In [ ]:
# Load the CSV
lda_paper_pagerank_df = pd.read_csv("./aws_data/03-lda-paper-pagerank/paper_pagerank.csv", sep="|")

# Write it to MySQL
lda_paper_pagerank_df.to_sql("03_lda_paper_pagerank", con=dbConnection, if_exists='replace')